@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --blanco: rgb(241, 241, 241);
    --negro: rgb(15, 15, 15);
    --grey: rgb(109, 109, 109);
    --color1: rgb(206, 112, 249);
    --color2: rgb(104, 151, 217);
    --montserrat: 'Montserrat', sans-serif;
    --courier: 'Courier Prime', monospace;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--montserrat);
    background-color: var(--blanco);
}

p,
h4 {
    font-size: 1.6rem;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: var(--blanco);
}

a:hover {
    color: var(--color1);
}

li {
    list-style: none;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--negro);
    width: 100%;
}

.header__hero {
    padding: 18% 0;
    color: var(--blanco);
    font-family: var(--courier);
    font-weight: 700;
    color: var(--color1);
    text-align: center;
    cursor: pointer;
    transition: filter .7s ease, opacity 1s ease;
    padding: 30px 0;
}

@keyframes anime {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(120deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.header__hero:hover {
    filter: hue-rotate(90deg);
    animation: anime 1s ease-in-out;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.8rem;
    font-weight: 700;
}

img {
    width: 100%;
}

.img__animation {
    width: clamp(300px, 100%, 900px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    gap: 3rem;
    transition: all 3s ease-in-out;
}

@keyframes view {
    from {
        opacity: 0;
        scale: 15%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.funko {
    animation: view;
    view-timeline-name: --funko;
    view-timeline-axis: block;
    animation-timeline: --funko;
    animation-name: view;
    animation-range: entry 25% cover 60%;
    animation-fill-mode: both;
    outline: 6px dotted silver
}

.img__detail {
    text-align: center;
    padding: 0 2rem;
}

.show__code {
    display: block;
    position: fixed;
    color: var(--color1);
    top: 40px;
    right: 40px;
    z-index: 999;
    font-size: 25px;
    transition: color 1s ease, transform .5s ease;
}

.show__code:hover {
    color: var(--blanco);
    transform: rotate(-180deg);
}

.code__box {
    width: 100%;
    position: fixed;
    background-color: var(--negro);
    color: var(--blanco);
    margin: auto;
    padding: 10rem 0;
    z-index: 998;
    display: none;
}

pre {
    white-space: pre;
}

code {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
    margin: auto;
    background-color: var(--negro);
    padding: 40px 0;
    background-color: var(--negro);
}

.animation-timeline {
    font-size: 1.6rem;
}

button.btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 42px;
    right: 90px;
    background-color: transparent;
    border: none;
    color: var(--grey);
    font-size: 2rem;
    cursor: pointer;
    transition: color .5s ease;
}

.copiar {
    color: color1;
    font-size: .9rem;
    padding-right: 3px;
}

button.btn:hover {
    color: var(--color1);
}

.btn i.fa-check {
    display: none;
    color: var(--color1);
}

h5 {
    padding-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 200;
}

/* Prueba Alternar 2 Textos */
.cambio {
    background-color: var(--negro);
    height: 100vh;
}

.textos {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: var(--color1)
}

.primero,
.segundo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.segundo {
    animation: mostrarSegundo 4s infinite alternate;
}

.primero {
    color: var(--color2);
    animation: mostrarPrimero 4s infinite alternate;
}

@keyframes mostrarSegundo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes mostrarPrimero {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}