@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --blanco: whitesmoke;
    --negro: rgb(15, 15, 15);
    --color1: rgb(194, 112, 249);
    --montserrat: 'Montserrat', sans-serif;
    --courier: 'Courier Prime', monospace;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--montserrat);
    background-color: var(--blanco);
}

p,
h4 {
    font-size: 1.6rem;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: var(--blanco);
}

a:hover {
    color: var(--color1);
}

li {
    list-style: none;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--negro);
    width: 100%;
}

.header__hero {
    padding: 18% 0;
    color: var(--blanco);
    font-family: var(--courier);
    font-weight: 700;
    color: var(--color1);
    text-align: center;
    cursor: pointer;
    transition: filter .7s ease-in-out;
    padding: 30px 0;
}

@keyframes anime {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(120deg);
    }

    100% {
        transform: rotate(-360deg);
    }

}

.header__hero:hover {
    filter: hue-rotate(90deg);
    animation: anime 1s ease-in-out;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.8rem;
    font-weight: 700;
}

img {
    width: 100%;
}

.img__animation {
    width: clamp(300px, 100%, 900px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    gap: 3rem;
    transition: all 3s ease-in-out;
}

@keyframes view {
    from {
        opacity: 0;
        scale: 15%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.funko {
    animation: view;
    view-timeline-name: --funko;
    view-timeline-axis: block;
    animation-timeline: --funko;
    animation-name: view;
    animation-range: entry 25% cover 60%;
    animation-fill-mode: both;
    outline: 6px dotted silver
}

.img__detail {
    text-align: center;
}

iconify-icon {
    display: block;
    position: fixed;
    color: var(--color1);
    top: 40px;
    right: 40px;
    z-index: 999;
    font-size: 25px;
    transition: color 1s ease, transform .5s ease;
}

iconify-icon:hover {
    color: var(--blanco);
    transform: rotate(-180deg);
}

.code__box {
    width: 100%;
    position: fixed;
    background-color: var(--negro);
    color: var(--blanco);
    margin: auto;
    padding: 10rem 0;
    z-index: 998;
    display: none;
}

pre {
    width: 50%;
    margin-left: -30px;
    font-size: 1.6rem;
    border-left: 5px solid var(--color1);
}

h5 {
    padding-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 200;
}